.features-list {
  display: flex;
  justify-content: flex-end;
  max-width: 960px;
  margin: 0 auto;
}

section.keep-track .features-list ul {
  width: 300px;
  margin-left: 80px;
  margin-top: 0;
  text-align: left;
  flex-shrink: 0;
}

section.keep-track .features-list ul li:first-child {
  margin-top: 0;
}

.features-list img {
  max-width: 600px;
}

.download-ctas {
  display: flex;
  justify-content: center;
}

section.corporate-partners ul {
  display: flex;
  flex-flow: row wrap;
  gap: 95px;
  justify-content: center;
}

section.corporate-partners ul li {
  flex-shrink: 0;
}

footer {
  display: flex;
  text-align: left;
}

footer nav.site-map {
  display: flex;
  flex-flow: row wrap;
  max-width: 625px;
}

footer nav.site-map a {
  width: 160px;
  flex-shrink: 0;
}

footer nav.social {
  margin-left: auto;
}

footer nav.site-map a.faq {
    order:1;
}

footer nav.site-map a.policy {
    order: 2;
}

footer nav.site-map a.install {
    order:3;
}

footer nav.site-map a.contact {
    order:4;
}

footer nav.site-map a.press {
    order:5;
